{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to the Home Page</h1>

    <a href="{% url 'index' %}">Home</a>
    {% if request.user.is_authenticated %}

    <a href="{% url 'logout' %}">Logout</a>
    <br>
    <hr>
    hello, {{request.user.username}}. Youre logged in.
    <a href="{% url 'account' %}">View your account</a> <br>
    <a href="{% url 'inbox' %}">View your Inbox</a> <br>
    <a href="{% url 'profiles' %}">View Profiles</a>
    <a href="{% url 'groups' %}">View Groups</a>

    {% else %}
    <a href="{% url 'login' %}">Login</a>

    {% endif %}

    {% if messages %}

    {% for message in messages %}
    <div class="">
        <p class="alert__message">{{ message }}</p>
        <button class="alert__close">x</button>
    </div>
    {% endfor %}

    {% endif %}
    {% block content %}

    {% endblock %}

</body>

<script src="{% static 'js/app.js' %}"></script>

</html>